<section class="hero">
  <img src='<%= image_url("tobias_hero.jpg") %>' alt="hero"/>
  <article>
    <span class="slogan">Elevate your FQ</span>
    <p class="quote">
    Notoriously simple.
    <br/>
    The little things that make you cool.
    </p>
    <p class="align-self-end">
      <%= link_to "explore all", products_path, { class: 'explore-all-cta-button' } %>
    </p>
  </article>
</section>

<section class="product-listing">
  <header>
    <h3>new drops</h3>
    <%= link_to "all", products_path, { class: 'explore-link' } %>
  </header>
  <div class="items-wrapper">
    <ul class="product-items-listing">
      <% @products.each do |product| %>
          <%= render product  %>
        <% end  %>
    </ul>
  </div>
</section>

<section class="product-listing" id="plain-tees">
  <header>
    <h3>plain tees</h3>
    <a href="#" class="explore-link">all</a>
  </header>
  <div class="items-wrapper">
    <ul class="product-items-listing md-auto-fill">
      <li>
        <img src='<%= image_url("mockups/black_flat.png") %>'/>
      </li>
      <li>
        <img src='<%= image_url("mockups/white_flat.png") %>'/>
      </li>
    </ul>
  </div>
</section>
