<div class="checkout">
  <%= turbo_frame_tag 'guest-checkout-form' do %>
    <%= simple_form_for form, url: guest_checkouts_url, method: :post, defaults: { wrapper_html: { class: 'guest_info_form_wrapper'}} do |f| %>
      <section id="user_info" class="guest_checkout_info_section">
        <h3>Contact Info</h3>
        <%= f.input :email, required: true, error: f.full_error(:email) %>
      </section>

      <section id="shipping_info" class="guest_checkout_info_section">
        <h3>Shipping Details</h3>
        <p>
        <%= f.input :address_line_a, as: :text, required: true, error: f.full_error(:address_line_a) %>
        </p>
        <%= f.input :address_line_b, as: :text %>
        <%= f.input :zip_code, required: true, error: f.full_error(:zip_code) %>
        <div class="phone_number_wrapper guest_info_form_wrapper">
          <label class="phone required"> 
            <abbr title="required">*</abbr>
            Phone
          </label>
          <%= f.select :phone_country_code, country_code_list, required: true %>
          <%= f.input :phone_number, as: :integer, required: true, label: false, wrapper_html: {
            id: 'guest-phone-number',
            class: 'input integer required guest_order_builder_form_phone_number' }
          %>
        </div>
      </section>

      <%= f.simple_fields_for form.item, defaults: {wrapper_html: {class: ''}} do |ff| %>
        <%= ff.input :item_id, as: :hidden %>
        <%= ff.input :size, as: :hidden %>
        <%= ff.input :quantity, as: :hidden %>
      <% end %>

      <section class="guest_checkout_info_section" id="payment_info">
        <h3>Billing Details</h3>
        <div class="flex flex-row space-between">
          <span class="inline-block">Total:</span>
          <span class="inline-block">
            <%= format_price total_amount %>
          </span>
        </div>
        <div class="flex flex-row space-between">
          <span class="inline-block">Shipping: </span>
          <span class="inline-block">0</span>
        </div>
        <div class="flex flex-row space-between checkout-total">
          <span class="inline-block bold">Total </span>
          <span class="inline-block bold">
            <%= format_price(total_amount + shipping) %>
          </span>
        </div>
      </section>

      <section id="pay-me-now">
        <% if outofstock.present? %>
          <div class='place_order_btn_lg btn-outofstock'>Sold Out</div>
        <% elsif show_payment.present? %>
          <%= render partial: "carts/pay", locals: { order_token: order_token } %>
        <% else %>
          <%= f.button :submit, "Place Order", { class: 'place_order_btn_lg' } %>
        <% end %>

        <% if @guest_order_error.present? %>
          <span class="form-inline-error" style="font-size: 0.9em"><%= @guest_order_error %></span>
        <% end %>

      </section>
    <% end %>
  <% end %>
</div>
