  <div class="checkout flex flex-col" style="--gap: 2em" data-controller="address">
    <section id="shipping_info" class="guest_checkout_info_section">
      <h3>Shipping Details</h3>

      <%= link_to "Add address", '#', { class: "clean-anchor", data: { action: 'click->address#toggleForm' }} %>
      <%= render partial: 'addresses/form', locals: { form: form } %>

      <% if addresses.length > 0 %>
        <h5> select address </h5>

        <div id="addresses-wrapper">
          <% addresses.each do |address| %>
            <%= render partial: 'addresses/address', locals: { address: address } %>
          <% end %>
        </div>
      <% end %>
    </section>

    <section class="guest_checkout_info_section" id="payment_info">
      <h3>Billing Details</h3>

      <div class="flex flex-row space-between">
        <span class="inline-block">Total:</span>
        <span class="inline-block">
          <%= format_price total_amount %>
        </span>
      </div>

      <div class="flex flex-row space-between">
        <span class="inline-block">Shipping: </span>
        <span class="inline-block">0</span>
      </div>

      <div class="flex flex-row space-between checkout-total">
        <span class="inline-block bold">Total </span>
        <span class="inline-block bold">
          <%= format_price(total_amount) %>
        </span>
      </div>

    </section>

    <section id="pay-me-now">
      <%= render partial: "carts/pay", locals: { 
        my_order: true,
        order_token: order_token, 
        show_payment: show_payment,
        order_form: 
      } %>
    </section>
  </div>
