<header id="guest-shopping-info-header" class="page-title line-top">
    <h3 class="pi-content-gutter" style="--pi-block-gap: 0">Review order</h3>
</header>

<div class="checkout_wrapper">
    <div class="shopping_info">
        <section id="guest-shopping-list">
            <div class="cart-item">
                <div class="cart-image-wrapper">
                    <%= image_tag @product_item.product.promoted_image %>
                </div>
                <span class="inline-block"><%= @product.title %></span>
                <span class="inline-block"><%= format_price @product.price %></span>
            </div>

            <div class="total-cart-amount">
                <span>Total</span>
                <span>
                    <%= format_price(@total_amount + @shipping) %>
                </span>
            </div>

            <div id="guest-delivery-faq">
                <p>
                It takes 7 days for the item to delivered by our service providers.
                You can return the product to us personally if you don't like it.
                </p>

                <p>
                Please reach out to us, and we will schedule a pickup.
                </p>
            </div>
        </section>
    </div>

    <%= render partial: "carts/guest_form", locals: { 
        form: @form,
        total_amount: @total_amount, 
        shipping: @shipping, 
        outofstock: @outofstock,
        show_payment: @show_payment, 
        order_token: nil
    } %>

</div>
