<% form_state ||= 'hide' %>
<%= simple_form_for form, url: add_address_url, method: :patch, html: { class: "guest_checkout_info_section #{form_state}", id: 'address-form', 'aria-expanded': false, data: { 'address-target': 'addAddressForm'} } do |f| %>
  <%= f.input :tag, required: false, placeholder: '[Optional] Home/Other', wrapper_html: { class: 'guest_info_form_wrapper' } %>
  <%= f.input :address_line_a, as: :text, required: true, wrapper_html: { class: 'guest_info_form_wrapper' } %>
  <%= f.input :address_line_b, as: :text, wrapper_html: { class: 'guest_info_form_wrapper' } %>
  <%= f.input :zip_code, required: true, wrapper_html: { class: 'guest_info_form_wrapper' } %>
  <div class="phone_number_wrapper guest_info_form_wrapper">
    <label class="phone required"> 
      <!--<abbr title="required">*</abbr>-->
      Phone
    </label>
    <%= f.select :country_code, country_code_list, required: true %>
    <%= f.input :alternate_phone_number, as: :integer, required: true, label: false, wrapper_html: {
      id: 'guest-phone-number',
      class: 'input integer required guest_order_builder_form_phone_number' }
    %>
  </div>

  <%= f.button :submit, "Save", { class: 'btn' } %>
<% end %>
