<header class="page-title product-title line-top">
    <h2><%= @product.title %></h2>
</header>
<div
        id="product_details_wrapper"
        data-controller="cart-add"
        data-cart-add-target="productItem"
        data-cart-url="<%= carts_url %>"
        data-is-logged-in="<%= logged_in? ? 'true' : 'false' %>"
        data-item-id="<%= @product_details[:item_id] %>"
        >

        <div class="flex flex-col full-width">
            <div class="product_details__image_wrapper">
                <!-- need to show all image in c arousal -->
                <%= image_tag @product.promoted_image %>
            </div>

        </div>

        <div class="flex flex-col full-width">
            <div class="product_details__info">
                <section id="description">
                    <% if @product.description.present? %>
                        <em><%= @product.description %></em>
                    <% else %>
                        <em>
                            Get your X factor out. Professor mixed up in the lab, so did we.
                        </em>
                    <% end %>
                </section>
                <section class="size-select">
                    <header class="flex flex-row align-end" style="--gap: 2em;">
                        <h3 class="product-option-header">select size</h3>
                        <a class="product-option-helper" href="#">size guide</a>
                    </header>
                    <ul class="sizes">
                        <% size_options_for_select(@product_details.size_chart).each do |size| %>
                            <li>
                                <%= radio_button_tag :size_id, 
                                    size[1],
                                    false, 
                                    {
                                        class: 'product-size-option',
                                        data: {
                                            cart_add_target: 'selectSize',
                                            error_msg: 'please select a size',
                                            action: 'click->cart-add#setSize'}
                                    }
                                %>
                            <%= label_tag "size_id_#{size[1]}", size[0] %>
                            </li>
                        <% end %>
                    </ul>
                    <div data-cart-add-target="formActionSizeError" class="form-inline-error">
                    </div>
                </section>
            </div>

            <section id="chaufferr" class="<%= logged_in? ? 'logged-in': '' %>">
                <p class="price"><%= format_price @product.price %></p>

                <div class="cta_component">
                    <%= render partial: "products/form", locals: {
                        form: @guest_form,
                        url: guest_buy_checkouts_url,
                        method: :post,
                        product_details: @product_details,
                        submit_button_text: 'Buy Now',
                        html_opts: { data: { action: 'submit->cart-add#directBuy'} },
                    } %>

                    <% if logged_in? %>
                        <% button_class =  %>
                        <%= render partial: "products/form", locals: {
                            form: @user_form,
                            url: new_cart_url,
                            method: :patch,
                            product_details: @product_details,
                            submit_button_text: 'Add to Cart',
                            html_opts: {data: { action: 'submit->cart-add#validate', state: buttton_class_for_add_to_cart(@product_details[:item_id]) }},
                            button_class: ["add-to-cart-btn", "#{buttton_class_for_add_to_cart(@product_details[:item_id])}"]
                            } %>
                    <% end %>
                </div>
            </section>

            <%= render partial: "products/cart_error", locals: { cart_error_msgs: @cart_error_msgs || [] } %>
            
        </div>
</div>
