<div
    id="product_details_wrapper"
    data-controller="cart-add"
    data-cart-add-target="productItem"
    data-cart-url="<%= carts_url %>"
    data-item-id="<%= @product_details[:item_id] %>"
>
    <div
        class="product_details__image_wrapper"
    >
        <!-- need to show all image in c arousal -->
        <%= image_tag @product.promoted_image %>
    </div>

    <div class="product_details__info">
        <section id="description">
            <h2><%= @product.title %></h2>

            <% if @product.description.present? %>
                <em><%= @product.description %></em>
            <% else %>
                <em>
                    Get your X factor out. Professor mixed up in the lab, so did we.
                </em>
            <% end %>
        </section>


        <section id="chaufferr">
            <p class="price"><%= format_price @product.price %></p>

            <div class="cta_component">
                <div class="cta_icon" id="size-chart">
                <img
                    src="<%= asset_path('size_guide.svg') %>"
                />
                </div>
            <div class="dropdown">
                <%= select(
                    :cart,
                    :size_id,
                    size_options_for_select(@product_details.size_chart),
                    { prompt: 'Choose a Size' },
                    { class: 'dropdown-select product_details__cta_btn',
                     data: {cart_add_target: 'selectSize' }}
                ) %>
            </div>
            </div>

            <div class="cta_component">

                <div class="cta_icon"
                     data-cart-add-target="addToCartIcon"
                     id="cart-icon"
                >
                    <img
                        src="<%= asset_path ('cart_icon.svg') %>"/>
                </div>
                <button
                    id="add-to-cart-btn"
                    data-action="cart-add#addToCart"
                    class="product_details__cta_btn"
                >
                    Add to Cart
                </button>
            </div>

            <button id="checkout-btn" class="product_details__cta_btn">
                Checkout
            </button>
        </section>

    </div>
</div>
