<header class="nav-header" data-controller="header-nav">
  <div id="app-logo">
    <%= link_to 'mr.notorious', root_path, { class: "clean-anchor" } %>
  </div>

  <button class="nav-toggle" aria-controls="primary-nav" data-header-nav-target="menuToggler" data-action="header-nav#toggleSlideMenuCtrl" aria-expanded="false">
    <span class="material-symbols-outlined nav-toggle-icon show" id="menu" data-header-nav-target="hamOpen">menu</span>
    <span class="material-symbols-outlined nav-toggle-icon" id="close" data-header-nav-target="hamClose">close</span>
    <span class="sr-only">Menu</span>
  </button>

  <nav class="nav-options">
    <ul id="primary-nav" data-state="close" data-header-nav-target="slideMenu">
      <% if logged_in? %>
        <li>
        <span aria-hidden="true" class="material-symbols-outlined">
          shopping_cart
        </span>

        <%= render partial: 'layouts/cart_items_count', locals: {cart_items_count:} %>
        
        </li>
        <li>
          <span aria-hidden="true" class="material-symbols-outlined">
            account_circle
          </span>
          <%= link_to "Profile", accounts_url, class: 'clean-anchor header-nav' %>
        </li>
        <li>
          <span aria-hidden="true" class="material-symbols-outlined">
            account_circle
          </span>
          <%= link_to "Logout", accounts_logout_url, data: { "turbo-method": :delete }, class: 'clean-anchor header-nav' %>
        </li>
      <% else %>
        <li>
          <span aria-hidden="true" class="material-symbols-outlined">
            account_circle
          </span>
          <%= link_to "Accounts", accounts_url, class: 'clean-anchor header-nav' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
