<!DOCTYPE html>
<html>
  <head>
    <title>mr. notorious</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body id="app">
    <%= render partial: "layouts/header", locals: {cart_items_count: cart_items_count} %>
    <%= render partial: "layouts/breadcrumb" %>

      <div class="toast-wrapper" id="turbo-toast" data-toast-target="toaster" data-controller="toast">
        <% flash.each do |type, msgs| %>
          <% if msgs.is_a?(String) %>
            <%= render partial: 'layouts/flash', locals: { flash_type: type, flash_msg: msgs } %>
          <% elsif msgs.is_a?(Array) %>
            <% msgs.each do |msg| %>
              <%= render partial: 'layouts/flash', locals: { flash_type: type, flash_msg: msg } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
  </body>

  <%= javascript_importmap_tags %>
</html>
