<!DOCTYPE html>
<html>
  <head>
    <title>mr. notorious</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body id="app">
      <%= render partial: "layouts/header" %>
      <%= render partial: "layouts/breadcrumb" %>

      <% flash.each do |type, msg| %>
          <%= render partial: 'layouts/flash', locals: { flash_type: type, flash_msg: msg } %>
      <% end %>
      <%= yield %>
  </body>

  <%= javascript_importmap_tags %>
</html>
